
@media screen and (min-width: 768px) {

    .restaurant-menu > .container {
        max-width: 545px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .restaurant-menu-title {
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 1.1;
    }

    .restaurant-menu-list-wrap-desk {
        margin-bottom: 53px;
    }

    .restaurant-menu-list-title {
        font-size: 24px;
        line-height: 1.0;
    }

    .restaurant-menu-dish-name {
        font-size: 18px;
        line-height: 1.33;
    }

    .restaurant-menu-dish-name::before {
        top: 11px;
    }

    .restaurant-menu-dish-weight {
        font-size: 14px;
        line-height: 1.29;
    }

    .restaurant-menu-dish-ing {
        max-width: 345px;
        font-size: 12px;
        line-height: 1.5;
    }

    .restaurant-menu-dish-price {
        font-size: 18px;
        line-height: 1.33;
    }

    .restaurant-menu-icons-list {
        gap: 32px;
    }

    .restaurant-menu-icon-b {
        width: 7px;
        height: 14px;
    }
    
    .restaurant-menu-icon {
        width: 7px;
        height: 14px;
    }

    .restaurant-menu-btn {
        margin-left: 0;
    }

}