<section class="double-section">
  <div class="container">
    <div class="double__content_wrap">
     <div class="text-double">
        <h2 class="double__content_title">DOUBLE <br class="br" />LUXURY ROOM</h2>
        <div class="double__text_wrap">
          <p class="double__content_text">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
          <p class="double__content_text lower-text">
            Relax after a busy day at the writing desk or armchair. Book now for a
            convenient and comfortable stay.
          </p>
        </div>
        <div class="welcome__btn_wrap">
          <a href="./room.html"
            ><button class="double__btn">More details</button></a
          >
          <button class="double__btn js-open-modal" data-modal="modal-price">View prices</button>
        </div>
     </div>
      <div class="img_block">
        <div class="img__block_big">
          <picture>
            <img
              src="./img/page-hotel/double/desktop/double-2-1x.jpg"
              alt="bedroom"
            />
            <source
              srcset="
                ./img/page-hotel/double/desktop/double-2-1x.jpg 1x,
                ./img/page-hotel/double/desktop/double-2-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/tablet/double-2-1x.jpg 1x,
                ./img/page-hotel/double/tablet/double-2-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/mobile/double-2-1x.jpg 1x,
                ./img/page-hotel/double/mobile/double-2-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
          </picture>
        </div>
        <div class="img__block_small">
          <picture>
            <img
              class="img__block_first"
              src="./img/page-hotel/double/desktop/double-3-1x.jpg"
              alt="bathroom"
            />
            <source
              srcset="
                ./img/page-hotel/double/desktop/double-3-1x.jpg 1x,
                ./img/page-hotel/double/desktop/double-3-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/tablet/double-3-1x.jpg 1x,
                ./img/page-hotel/double/tablet/double-3-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/mobile/double-3-1x.jpg 1x,
                ./img/page-hotel/double/mobile/double-3-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
          </picture>

          <picture>
            <img
              class="img__block_second"
              src="./img/page-hotel/double/desktop/double-1-1x.jpg"
              alt="bedroom"
            />
            <source
              srcset="
                ./img/page-hotel/double/desktop/double-1-1x.jpg 1x,
                ./img/page-hotel/double/desktop/double-1-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/tablet/double-1-1x.jpg 1x,
                ./img/page-hotel/double/tablet/double-1-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/page-hotel/double/mobile/double-1-1x.jpg 1x,
                ./img/page-hotel/double/mobile/double-1-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
