<!--Hotel page / Four-seater Room-->

<section>
  <div class="container">
     <div class="four-seater-photos">
        <!-- First Photo-->
<div class="first-photo-wrap">
        <picture class="first-seater-foto">
            <source
            srcset="./img/page-hotel/four/desktop/four-3-1x.jpg 1x, 
                    ./img/page-hotel/four/desktop/four-3-2x.jpg 2x"
            media="(min-width:1440px)"
        
            >
            <source
            srcset="./img/page-hotel/four/tablet/tab-four-1-1x.jpg 1x, 
                    ./img/page-hotel/four/tablet/tab-four-1-2x.jpg 2x"
            media="(min-width:768px)"
        
            >
            <source
            srcset="./img/page-hotel/four/mobile/mob-four-1-1x.jpg 1x, 
                    ./img/page-hotel/four/mobile/mob-four-1-2x.jpg 2x"
            media="(max-width:767px)"
        
            >
            <img src="../../img/page-hotel/four/mobile/mob-four-1-1x.jpg" 
                 alt="2 boxes of cosmetics on the shelf in front of the mirror"
        
                 >
                 
        </picture>
</div>
<!-- Second Photo-->
<div class="second-photo-wrap">
        <picture class="second-seater-foto">
                <source
                srcset="./img/page-hotel/four/desktop/four-2-1x.jpg 1x, 
                        ./img/page-hotel/four/desktop/four-2-2x.jpg 2x"
                media="(min-width:1440px)"
        
                >
                <source
                srcset="./img/page-hotel/four/tablet/tab-four-2-1x.jpg 1x, 
                        ./img/page-hotel/four/tablet/tab-four-2-2x.jpg 2x"
                media="(min-width:768px)"
        
                >
                <source
                srcset="./img/page-hotel/four/mobile/mob-four-2-1x.jpg 1x, 
                        ./img/page-hotel/four/mobile/mob-four-2-2x.jpg 2x"
                media="(max-width:767px)"
        
               
                >
                <img src="./img/page-hotel/four/mobile/mob-four-2-1x.jpg" 
                     alt="a bedroom with a bed, a sofa and a panoramic window"
        >
        </picture> 
</div>
      <!-- Third Photo-->
<div class="third-photo-wrap">
        <picture class="third-seater-photo">
                <source
                srcset="./img/page-hotel/four/desktop/four-1-1x.jpg 1x, 
                        ./img/page-hotel/four/desktop/four-1-2x.jpg 2x"
                media="(min-width:1440px)"
        
                >
                <source
                srcset="./img/page-hotel/four/tablet/tab-four-3-1x.jpg 1x, 
                        ./img/page-hotel/four/tablet/tab-four-3-2x.jpg 2x"
                media="(min-width:768px)"
        
                >
                <source
                srcset="./img/page-hotel/four/mobile/mob-four-3-1x.jpg 1x, 
                        ./img/page-hotel/four/mobile/mob-four-3-2x.jpg 2x"
                media="(max-width:767px)"
        
                >
                <img src="./img/page-hotel/four/mobile/mob-four-3-1x.jpg" 
                     alt="kitchen with a yellow plate and a bouquet of flowers on the table"
        
                     >
        </picture>
</div>
     </div>

    <div class="four-seater-wrap">
         <div class="four-seater-description">
                    <h2 class="four-seater-title">four-seater room</h2>
                
                    <p class="four-seater-text">
                      Our 4-person room is perfect for small groups, offering comfort and
                      convenience with 4 comfortable beds, ample storage, flat-screen TV,
                      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
                      soundproof walls. Book now for a memorable stay.
                    </p>
         </div>
        
            <div class="four-seater-btn-set"> 
        
            <a href="./pages-room/"  class="four-details-btm">More details</a>
            <button type="button" class="four-prices-btn  js-open-modal" data-modal="modal-price">View prices</button>
            </div>
    </div>
    </div>
</section>