<link rel="stylesheet" href="../../css/pages/rest/about-kitchen.css" />
<section class="about-a-kitchen">
  <h2 hidden>About a kitchen</h2>
  <div class="container">
    <div class="picture-about-a-kitchen">
      <picture class="first-picture-kitchen">
        <source
          srcset="
            ./img/page-rest/about-kitchen/desktop/about-kitchen-1-1x.jpg     1x,
            ./img/page-rest/about-kitchen/desktop/about-kitchen-1-2x.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-2-1x.jpg     1x,
            ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-2-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-1-1x.jpg     1x,
            ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-1-2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpeg"
        />
        <img
          src="./img/page-rest/about-kitchen/mobile/mob-about-kitchen-1-1x.jpg"
          alt="chef"
        />
      </picture>
      <div class="spk">
        <picture class="second-picture-kitchen">
          <source
            srcset="
              ./img/page-rest/about-kitchen/desktop/about-kitchen-2-1x.jpg     1x,
              ./img/page-rest/about-kitchen/desktop/about-kitchen-2-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-1-1x.jpg     1x,
              ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-1-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-2-1x.jpg     1x,
              ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-2-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./img/page-rest/about-kitchen/mobile/mob-about-kitchen-2-1x.jpg"
            alt="meat"
          />
        </picture>

        <picture class="third-picture-kitchen">
          <source
            srcset="
              ./img/page-rest/about-kitchen/desktop/about-kitchen-3-1x.jpg     1x,
              ./img/page-rest/about-kitchen/desktop/about-kitchen-3-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-3-1x.jpg     1x,
              ./img/page-rest/about-kitchen/tablet/tab-about-kitchen-3-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-3-1x.jpg     1x,
              ./img/page-rest/about-kitchen/mobile/mob-about-kitchen-3-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./img/page-rest/about-kitchen/mobile/mob-about-kitchen-3-1x.jpg"
            alt="coctail"
          />
        </picture>
      </div>
    </div>

    <div class="all-text-about-a-kitchen">
      <p class="text-about-a-kitchen text-first">
        At Mimino, we are experts in meat preparation. Our chefs use only the
        finest and freshest ingredients to create delicious dishes that showcase
        the flavors of premium cuts of meat.
      </p>
      <p class="text-about-a-kitchen text-second">
        Our slow-cooking process and expert seasoning bring out the best in each
        dish, making for an unforgettable dining experience. Come taste the
        magic of meat preparation at Mimino.
      </p>
    </div>
  </div>
</section>
