<link rel="stylesheet" href="../css/layout/about-complex.css" />
<section class="about-a-complex">
  <div class="container">
    <h2 hidden>About</h2>
    <div class="restorant-hotel">
      <div class="hotel-pictures">
        <!-- First-picture -->
        <div class="pic-one">
          <picture>
            <source
              srcset="
                ./img/page-home/about-complex/desktop/about-1-1x.jpg 1x,
                ./img/page-home/about-complex/desktop/about-1-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-home/about-complex/tablet/tab-about-1-1x.jpg 1x,
                ./img/page-home/about-complex/tablet/tab-about-1-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/page-home/about-complex/mobile/mob-about-1-1x.jpg 1x,
                ./img/page-home/about-complex/mobile/mob-about-1-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./img/page-home/about-complex/mobile/mob-about-1-1x.jpg"
              alt="lounge-zone"
              width=""
            />
          </picture>
        </div>

        <!-- Second-picture -->
        <div class="pic-two">
          <picture>
            <source
              srcset="
                ./img/page-home/about-complex/desktop/about-2-1x.jpg 1x,
                ./img/page-home/about-complex/desktop/about-2-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-home/about-complex/tablet/tab-about-2-1x.jpg 1x,
                ./img/page-home/about-complex/tablet/tab-about-2-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/page-home/about-complex/mobile/mob-about-2-1x.jpg 1x,
                ./img/page-home/about-complex/mobile/mob-about-2-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./img/page-home/about-complex/mobile/mob-about-2-1x.jpg"
              alt="bath"
            />
          </picture>
        </div>

        <div class="review woman">
          <div class="img-review">
            <img
              src="./img/Maria.png"
              alt="коментар жінки"
              width="41"
              height="41"
            />
          </div>
          <div class="text-review">
            <p class="title-review">Maria</p>
            <p class="rating">give rating 4.5</p>
          </div>
        </div>
      </div>
      <div class="restorant-hotel-complex">
        <h3 class="title title-hotel">restaurant-hotel complex</h3>
        <p class="text text-one">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="text text-two">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>

    <div class="business-class">
      <!-- Third-picture -->
      <picture class="review-man">
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/page-home/about-complex/desktop/about-4-1x.jpg 1x,
            ./img/page-home/about-complex/desktop/about-4-2x.jpg 2x
          "
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./img/page-home/about-complex/tablet/tab-about-3-1x.jpg 1x,
            ./img/page-home/about-complex/tablet/tab-about-3-2x.jpg 2x
          "
        />
        <source
          srcset="
            ./img/page-home/about-complex/mobile/mob-about-3-1x.jpg 1x,
            ./img/page-home/about-complex/mobile/mob-about-3-2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./img/page-home/about-complex/mobile/mob-about-3-1x.jpg"
          alt="tables-with-glass"
        />
      </picture>
      <div class="review man">
        <img
          src="./img/Alexandr.png"
          alt="коментар чоловіка"
          width="41"
          height="41"
        />
        <div class="text-review">
          <p class="title-review">Alexander</p>
          <p class="rating">give rating 5.5</p>
        </div>
      </div>
      <div class="third-picture">
        <div class="title-text-business">
          <h3 class="title title-business">business class hotel</h3>
          <p class="text text-business-class">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>

        <!-- Third-picture -->
        <picture>
          <source
            srcset="
              ./img/page-home/about-complex/desktop/about-3-1x.jpg 1x,
              ./img/page-home/about-complex/desktop/about-3-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-home/about-complex/tablet/tab-about-4-1x.jpg 1x,
              ./img/page-home/about-complex/tablet/tab-about-4-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/page-home/about-complex/mobile/mob-about-4-1x.jpg 1x,
              ./img/page-home/about-complex/mobile/mob-about-4-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/page-home/about-complex/mobile/mob-about-4-1x.jpg"
            alt="restaurant-room"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
