<footer class="footer">
    <div class="container">
        <div class="footer-mob curent">
            <div class="desktop-nav">
                <nav class="nav">
                    <ul class="footer-story-list list">
                        <li class="footer-story-item">
                            <a href="./index.html" class="footer-story-link link">Home</a>
                        </li>
                        <li class="footer-story-item">
                            <a href="./hotel.html" class="footer-story-link link">Hotel</a>
                        </li>
                        <li class="footer-story-item">
                            <a href="./restaurant.html" class="footer-story-link link">Restaurant</a>
                        </li>
                    </ul>
                </nav>
            </div>
                <a href="./index.html" class="footer-link link">
                    <span class="footer-name">MIMINO</span>
                    <span class="footer-discr">RESTAURANT-HOTEL COMPLEX</span>
                </a>
                    <ul class="footer-icon-list list">
                        <li class="footer-icon-item">
                            <a href="https://www.instagram.com/" class="footer-link-soc" rel="noreferrer noopener" target="_blank">
                                <svg class="footer-soc-icon" width="20" height="20">
                                    <use href="./img/icons/sprite.svg#icon-max-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="https://www.facebook.com" class="footer-link-soc" rel="noreferrer noopener" target="_blank">
                                <svg class="footer-soc-icon" width="20" height="20">
                                    <use href="./img/icons/sprite.svg#icon-max-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="https://twitter.com" class="footer-link-soc" rel="noreferrer noopener" target="_blank">
                                <svg class="footer-soc-icon" width="20" height="20">
                                    <use href="./img/icons/sprite.svg#icon-max-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
        </div>
    </div>
</footer>
