<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="./index.html">HOME</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./hotel.html">HOTEL</a>
        </li>
        <li class="header-item">
          <a class="header-link current link" href="./restaurant.html"
            >RESTAURANT</a
          >
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu-open js-open-menu">
      <svg class="mobile-menu-open-icon" width="21" height="14">
        <use href="./img/icons/sprite.svg#icon-menu-open"></use>
      </svg>
    </button>

    <a class="header-logo" href="./index.html"
      >MIMINO
      <span class="header-logo-desc">RESTAURANT-HOTEL COMPLEX</span>
    </a>

    <ul class="header-list-soc list">
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.instagram.com/"
          aria-label="instagram"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-max-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.facebook.com/"
          aria-label="facebook"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-max-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-item-soc">
        <a
          class="header-link-soc link"
          href="https://www.twitter.com/"
          aria-label="twitter"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="header-icons" width="24" height="24">
            <use href="./img/icons/sprite.svg#icon-max-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu js-menu-container">
    <div class="container mobile-menu-container">
      <div class="header-mobile-menu">
        <button type="submit" class="mobile-menu-close-btn js-close-menu">
          <svg class="mobile-menu-close-icon" width="14" height="14">
            <use href="./img/icons/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>

        <a class="header-logo-mob" href="./index.html"
          >MIMINO
          <span class="header-logo-desc-mob">RESTAURANT-HOTEL COMPLEX</span>
        </a>
      </div>
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a href="./index.html" class="mobile-menu-link link">HOME</a>
        </li>
        <li class="mobile-menu-item">
          <a href="./hotel.html" class="mobile-menu-link link">HOTEL</a>
        </li>
        <li class="mobile-menu-item">
          <a href="./restaurant.html" class="mobile-menu-link link"
            >RESTAURANT</a
          >
        </li>
      </ul>
      <ul class="mobile-menu-soc list">
        <li class="mobile-menu-soc-item">
          <a
            class="mobile-menu-soc-link link"
            href="https://www.instagram.com/"
            aria-label="instagram"
            target="_blank"
            rel="noopener nofollow noreferrer"
            ><svg class="mobile-menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#icon-max-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-soc-item">
          <a
            class="mobile-menu-soc-link link"
            href="https://www.facebook.com/"
            aria-label="facebook"
            target="_blank"
            rel="noopener nofollow noreferrer"
            ><svg class="mobile-menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#icon-max-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-soc-item">
          <a
            class="mobile-menu-soc-link link"
            href="https://www.twitter.com/"
            aria-label="twitter"
            target="_blank"
            rel="noopener nofollow noreferrer"
            ><svg class="mobile-menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#icon-max-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
