<section class="restaurant-details">
    <div class="container">
        <div class="restaurant-details-wrap">
            <div class="restaurant-details-text-wrap">
                <h2 class="restaurant-details-title">Restaurant</h2>
                <p class="restaurant-details-text">Relax and unwind with our delicious offerings, available any time of day.</p>
            </div>
            <div class="restaurant-details-btn-wrap">
                <button class="restaurant-details-btn"><span class="restaurant-details-btn-text js-open-modal" data-modal="modal-table">Book a table</span></button>
                <button class="restaurant-details-btn"><span class="restaurant-details-btn-text"><a href="./restaurant.html">View the menu</a></span></button>
            </div>
        </div>
        <div class="restaurant-details-list-wrap">
            <ul class="restaurant-details-list list">
                <li class="restaurant-details-list-item">
                    <picture class="restaurant-details-pic">
                        <source 
                            srcset="./img/page-home/restaurants-details/desktop/rest-1-1x.jpg 1x, ./img/page-home/restaurants-details/desktop/rest-1-2x.jpg 2x"
                            media="(min-width: 1440px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/tablet/tab-rest-1-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-1-2x.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/mobile/mob-rest-1-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-1-2x.jpg 2x"
                            media="(max-width: 767px)"
                        />
                        <img src="./img/page-home/restaurants-details/desktop/rest-1-1x.jpg" alt="coctail" width="336">
                    </picture>
                </li>
                <li class="restaurant-details-list-item">
                    <picture class="restaurant-details-pic">
                        <source 
                            srcset="./img/page-home/restaurants-details/desktop/rest-2-1x.jpg 1x, ./img/page-home/restaurants-details/desktop/rest-2-2x.jpg 2x"
                            media="(min-width: 1440px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/tablet/tab-rest-2-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-2-2x.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/mobile/mob-rest-2-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-2-2x.jpg 2x"
                            media="(max-width: 767px)"
                        />
                        <img src="./img/page-home/restaurants-details/desktop/rest-2-1x.jpg" alt="coctail" width="336">
                    </picture>
                </li>
            </ul>
            <ul class="restaurant-details-list list">
                <li class="restaurant-details-list-item-desk">
                    <picture class="restaurant-details-desk-pic">
                        <source 
                            srcset="./img/page-home/restaurants-details/desktop/rest-3-1x.jpg 1x, ./img/page-home/restaurants-details/desktop/rest-3-2x.jpg 2x"
                            media="(min-width: 1440px)"
                        />
                        <!-- <source 
                            srcset="./img/page-home/restaurants-details/tablet/tab-rest-3-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-3-2x.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/mobile/mob-rest-3-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-3-2x.jpg 2x"
                            media="(max-width: 767px)"
                        /> -->
                        <img src="./img/page-home/restaurants-details/desktop/rest-3-1x.jpg" alt="coctail" width="336">
                    </picture>
                </li>
                <li class="restaurant-details-list-item-desk">
                    <picture class="restaurant-details-desk-pic">
                        <source 
                            srcset="./img/page-home/restaurants-details/desktop/rest-4-1x.jpg 1x, ./img/page-home/restaurants-details/desktop/rest-4-2x.jpg 2x"
                            media="(min-width: 1440px)"
                        />
                        <!-- <source 
                            srcset="./img/page-home/restaurants-details/tablet/tab-rest-4-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-4-2x.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/mobile/mob-rest-4-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-4-2x.jpg 2x"
                            media="(max-width: 767px)"
                        /> -->
                        <img src="./img/page-home/restaurants-details/desktop/rest-4-1x.jpg" alt="coctail" width="336">
                    </picture>
                </li>
                <li class="restaurant-details-list-item-desk">
                    <picture class="restaurant-details-desk-pic">
                        <source 
                            srcset="./img/page-home/restaurants-details/desktop/rest-5-1x-1.jpg 1x, ./img/page-home/restaurants-details/desktop/rest-5-2x-1.jpg 2x"
                            media="(min-width: 1440px)"
                        />
                        <!-- <source 
                            srcset="./img/page-home/restaurants-details/tablet/tab-rest-5-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-5-2x.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source 
                            srcset="./img/page-home/restaurants-details/mobile/mob-rest-5-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-5-2x.jpg 2x"
                            media="(max-width: 767px)"
                        /> -->
                        <img src="./img/page-home/restaurants-details/desktop/rest-5-1x.jpg" alt="coctail" width="336">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="restaurant-details-icons">
            <ul class="restaurant-details-icons-list list">
                <li class="restaurant-details-icons-item">
                    <svg class="restaurant-details-icon-b" width="5" height="10">
                        <use href="./img/icons/sprite.svg#icon-vector"></use>
                    </svg>
                </li>
                <li class="restaurant-details-icons-item">
                    <svg class="restaurant-details-icon" width="5" height="10">
                        <use href="./img/icons/sprite.svg#icon-vector"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="restaurant-details-btn-low-wrap">
            <button class="restaurant-details-btn"><span class="restaurant-details-btn-text js-open-modal" data-modal="modal-table">Book a table</span></button>
            <button class="restaurant-details-btn"><span class="restaurant-details-btn-text"><a href="./restaurant.html">View the menu</a></span></button>
        </div>
    </div>
</section>