<section class="welcome-section">
  <div class="container">
    <div class="welcome__content_wrap">
    <div class="text-side">
        <h2 class="welcome__content_title">
          Welcome to the <br class="br"/> epitome of <span class="cursive-text">luxury</span> and
          <span class="cursive-text">comfort</span>
        </h2>
        <div class="welcome__text_wrap">
          <p class="welcome__content_text">
            Our hotel rooms are elegantly designed with an eye for detail,
            ensuring that you have everything you need for a relaxing and
            rejuvenating stay.
          </p>
          <p class="welcome__content_text long-text">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
            you start your day right. Our spacious bathrooms feature luxurious
            toiletries and towels, so you can pamper yourself in complete privacy.
          </p>
        </div>
    </div>
     <div class="img-side">
        <picture>
          <source
            srcset="
              ./img/page-home/welcome/desktop/welcome-1-1x.jpg 1x,
              ./img/page-home/welcome/desktop/welcome-1-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-home/welcome/tablet/tab-welcome-1-1x.jpg 1x,
              ./img/page-home/welcome/tablet/tab-welcome-1-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/page-home/welcome/mobile/mob-welcome-1-1x.jpg 1x,
              ./img/page-home/welcome/mobile/mob-welcome-1-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="welcome__main_img"
            src="./img/page-home/welcome/mobile/mob-welcome-1-1x.jpg"
            alt="hotel"
            width="335"
            height="432"
          />
        </picture>
     </div>
    </div>
  </div>
</section>
